@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ChunkFive";
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("ChunkFive"), url(./fonts/ChunkFive/ChunkFive-Regular.woff2) format("woff2");
}
